{% extends 'base.html' %}

{% block content %}

<body>
    <div class="flex items-center justify-center">
        <p class="py-6">Delete Books from the Database</p>
    </div>
    
    <div class="flex items-center justify-center">
        <table class="min-w-[50%]" id="books-table">
            <thead>
                <tr>
                    <th class="border">ID</th>
                    <th class="border">Published</th>
                    <th class="border">Author</th>
                    <th class="border">Title</th>
                    <th class="border">Delete</th>
                </tr>
            </thead>
            <tbody class="text-center text-sm">
                {% for book in books %}
                <tr id="book-{{ book.id }}">
                    <td class="border">{{ book.id }}</td>
                    <td class="border">{{ book.published }}</td>
                    <td class="border">{{ book.author }}</td>
                    <td class="border">{{ book.title }}</td>
                    <td class="border"><button hx-delete="/books/{{ book.id }}" hx-confirm="Are you sure?" hx-target="#book-{{ book.id }}" hx-swap="outerHTML" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-1 rounded-full">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

{% endblock content %}